# Environments
*.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyc
*.pyo
*.pyd

# PyInstaller
*.manifest
*.spec

# Visual Studio Code
.vscode/
*.vscode/